<div class="container">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <form class="white">
        <h5 class="grey-text darken-3">Resend confirmation instructions</h5><br>
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="input-field">
          <%= f.submit 'Resend confirmation instructions', class: 'btn pink lighten-1 z-depth-0' %>
        </div>
      </form>
  <% end %>
</div>