<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <form class="white">
        <h5 class="grey-text darken-3">Sign up</h5><br>
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="input-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="input-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="input-field">
          <%= f.submit 'Sign up', class: 'btn pink lighten-1 z-depth-0' %>
        </div>
      </form>
  <% end %>
  <%= render "devise/shared/links" %>
</div>