<!DOCTYPE html>
<html>
<head>
  <title>MobileCause</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'shared/header' %>
<div class="container">
  <% if notice %>
      <div class="row" id="global-notice">
        <div class="col s12">
          <div class="card-panel teal">
            <span class="white-text"><%= notice %></span>
          </div>
        </div>
      </div>
  <% end %>

  <% if alert %>
      <div class="row" id="global-alert">
        <div class="col s12">
          <div class="card-panel red">
            <span class="white-text"><%= alert %></span>
          </div>
        </div>
      </div>
  <% end %>

  <%= yield %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
